<pepo-header></pepo-header>
<section class="page-container" ng-class="{'page-container__no-scroll':varOpenEditPhoto}">
  <h1 class="pepo-title">Edit profile:</h1>

  <form name="editProfileForm">
    <ul class="user-edit">
      <li class="user-edit_item">
        <input type="text" class="pepo_textinput user-edit_name" ng-model="user.username">

      <li class="user-edit_item">
        <div class="user-edit_img-wrapper">
          <img ng-src="{{user.avatarUrl}}" alt="{{user.name}}" ng-click="openModalEditPhoto()" class="user-edit_img">
            <div class="user-edit-img_hover">
                <span class="user-edit-img_text">Edit Photo</span>
                <span class="user-edit-img_text__mobile">tab for edit</span>
            </div>
        </div>
        <div class="new-avatar-tip" ng-show="newAvatarName">New avatar: {{newAvatarName}}</div>

      <li class="user-edit_item">
        <textarea class="pepo_textinput user-edit_description" ng-model="user.description"></textarea>

      <li class="user-edit_item user-edit_item__nosepation">
        <div ng-click="updateUser()" class="pepo_btn user-edit_save" ng-class="{'user-edit_save__disabled': formPristine}">Save changes</div>
      <li class="user-edit_item">
        <div ng-click="editCancel()" class="pepo_btn user-edit_cancel">Cancel</div>
    </ul>
  </form>

</section>

<div class="modal-edit-user-photo" ng-class="{'modal-edit-user-photo__active': varOpenEditPhoto}">
    <div class="modal-edit-user-photo_cover" ng-click="closeModalEditPhoto()"></div>
    <div class="modal-edit-user-photo_form">
        <div class="modal-edit-user-photo_close" ng-click="closeModalEditPhoto()"></div>
            <label>
                <span class="icon-upload"></span>
                <span class="text-upload">Upload photo</span>
                <input type="file" name="upload-user-photo" avatar-load="userEdit.avatar">
            </label>
    </div>
</div>
