<header class="header">
    <div class="header_logo">
      <p class="header_logo-img">PEPO</p>
    </div>
    <div class="header_user">
      <div class="header_user-profil">
        <p class="header_user_avatar-name">BobDodo</p>
      </div>
    </div>
    <div class="header_logout">
      <div class="header_logout-contein">
          <input type="button" class="header_user_logout-btn" title="Button" value=""/>
      </div>
    </div>
</header>

<section class="page-container">

  <h1 class="pepo-title">Edit profile:</h1>

  <ul class="user-edit">
    <li class="user-edit_item">
      <input type="text" class="pepo_textinput user-edit_name" value="{{user.username}}">

    <li class="user-edit_item">
      <div class="user-edit_img-wrapper">
        <img ng-src="{{user.avatarUrl}}" alt="{{user.name}}" class="user-edit_img">
        <input type="file" class="user-edit_img-input">
      </div>

    <li class="user-edit_item">
      <textarea class="pepo_textinput user-edit_description">{{user.description}}</textarea>

    <li class="user-edit_item">
      <button ng-click="updateUser()" class="pepo_btn user-edit_save">Save changes</button>
  </ul>

</section>
