<div class="profile-container">
    <div class="edit-profile">
        <div class="profile-image">
            <img src="static/src/img/userpage.jpg" alt="">
        </div>
        <div class="edit-profile_image">
            <input type="file">
        </div>
        <div class="edit-profile_name">
            <input type="text" placeholder="Joe Trumt">
        </div>
        <div class="edit-profile_description">
            <label>
                <textarea rows="7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis repellat repellendus tempora.
                Alias, deleniti, deserunt enim exercitationem hic illo maxime perspiciatis quasi repellat repudiandae
                sequi tempore veniam voluptates voluptatibus.
                </textarea>
            </label>
        </div>
        <div class="edit-profile_save">
            <a href="#/my-profile" class="profile-btn profile-btn__blue">Save</a>
        </div>
    </div>
</div>
