<div class="modal">
  <div class="modal-fade-screen" ng-class="myVar">
    <div class="modal-inner">
      <div class="modal-close" ng-click="myVar=''"></div>
      <header class="pepo-modal-top">Ответить @{{tweets[1].owner.username}}
      </header>
      <section class="tweet_answer">
        <div class="tweet-user-img_answer">
          <img ng-src="{{tweets[1].owner.thumbUrl}}" alt="">
        </div>
        <div class="tweet-content_answer">
          <div class="tweet-header_user-name">{{tweets[1].owner.name}}
          </div>
          <div class="tweet-header_user-login">@{{tweets[1].owner.username}}
          </div>
          <div class="tweet-header_date__answer">{{tweets[1].createdAt}}</div>
          <p class="tweet-content_text__answer">{{tweets[1].text}}</p>
        </div>
      </section>
      <section class="tweet-type_answer">
        <div class="tweet-textarea_answer">
          <textarea>
            @{{tweets[1].owner.username}}
          </textarea>
        </div>
      </section>
    </div>
  </div>
</div>


<header class="header">
    <div class="header_logo">
      <p class="header_logo-img">PEPO</p>
    </div>
    <div class="header_user">
      <div class="header_user-profil">
        <p class="header_user_avatar-name">BobDodo</p>
      </div>
    </div>
    <div class="header_logout">
      <div class="header_logout-contein">
          <input ng-click="logout()" type="button" class="header_user_logout-btn" title="Button" value=""/>
      </div>
    </div>
</header>

<section class="page-container">
  <ul class="tweets">
    <li class="tweets_item" ng-repeat="tweet in tweets">
      <header class="tweet-header">
        <div class="tweet-header_user">
          <img ng-src="{{tweet.owner.thumbUrl}}" alt="" class="tweet-header_user-img">
          <div class="tweet-header_name-wrapper">
            <div class="tweet-header_user-name">{{tweet.owner.name}}</div>
            <div class="tweet-header_user-login">@{{tweet.owner.username}}</div>
          </div>
        </div>
        <div class="tweet-header_date" ng-click="goToPep(tweet.id)">{{tweet.createdAt}}</div>
      </header>

      <section class="tweet-content">
        <p class="tweet-content_text">{{tweet.text}}</p>
      </section>

      <footer class="tweet-footer">
        <ul class="tweet-actions">
          <li class="tweet-actions_item tweet-actions_item__likes">
            <div class="tweet-actions_icon"></div>
            <div class="tweet-actions_coutn">3</div>
          </li>


           <li class="tweet-actions_item tweet-actions_item__answers" ng-click="myVar='modal-answer__active'">
            <div class="tweet-actions_icon" ng-click="myVar='modal-answer__active'"></div>
            <div class="tweet-actions_coutn"> 2</div>
           </li>
 
          <li class="tweet-actions_item tweet-actions_item__edit">
            <div class="tweet-actions_icon"></div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__remove">
            <div class="tweet-actions_icon"></div>
          </li>

        </ul>
      </footer>
    </li>
  </ul>

  <div class="load-more-btn"></div>

</section>

