<modal-answer></modal-answer>
<modal-del></modal-del>

<pepo-header></pepo-header>

<section class="page-container" ng-class="{'page-container__no-scroll': menuIsOpen}">
  <ul class="tweets">
    <li class="tweets_item" ng-init="i=0" ng-repeat="tweet in tweets">
      <header class="tweet-header">
        <div class="tweet-header_user">
          <img ng-click="goToUser(tweet.owner.username)" ng-src="{{tweet.owner.thumbUrl}}" alt="" class="tweet-header_user-img">
          <div class="tweet-header_name-wrapper">
            <div ng-click="goToUser(tweet.owner.username)" class="tweet-header_user-name">{{tweet.owner.name}}</div>
            <div ng-click="goToUser(tweet.owner.username)" class="tweet-header_user-login">@{{tweet.owner.username}}</div>
          </div>
        </div>
        <div class="tweet-header_date" ng-click="goToPep(tweet._id)">{{tweet.createdAt}}</div>
      </header>


      <section class="tweet-content">
        <p class="tweet-content_text" ng-class="{'novisible-block__edit': varEdit1[$index], 'anim': editAnim[$index]}">{{tweet.text}}</p>
        <div class="hidden-block_edit tweet-content_text" ng-class="{'visible-block__edit': varEdit1[$index]}">
          <textarea ng-model="$parent.editPepText" class="pepo_textinput pep-text_edit"></textarea>
          <ul class="actions-btn-block">
            <li class="actions-btn-block_item">
            <div ng-click="varEdit1[$index]=''" class="pepo_btn actions-btn-cancel_item">Отменить</div>
            </li>
            <li class="actions-btn-block_item">
            <div ng-click="editPep()" class="pepo_btn actions-btn-save_item">Сохранить</div>
            </li>
          </ul>
        </div>
      </section>

      <footer class="tweet-footer">
        <ul class="tweet-actions">
          <li class="tweet-actions_item tweet-actions_item__likes" >
            <div class="tweet-actions_icon"></div>
            <div class="tweet-actions_coutn">3</div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__answers" ng-click="openModalAnswer($index)">
            <div class="tweet-actions_icon"> </div>
            <div class="tweet-actions_coutn"> 2</div>
           </li>

          <li class="tweet-actions_item tweet-actions_item__edit" >
            <div class="tweet-actions_icon" ng-click="editPepStart($index, tweet._id, tweet.text)"></div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__remove" ng-click="openModalDel($index, tweet._id)">
            <div class="tweet-actions_icon"></div>
          </li>

        </ul>
      </footer>


      <div ng-if="tweet.location" class="pep-location" ng-init="center=[tweet.location[0], tweet.location[1]];zoom='15'">
        <ul class="pep-map-toogle">
          <li class="pep-map-toogle_item" ng-hide="showMap" ng-click="showMap = true">Открыть карту</a>
          <li class="pep-map-toogle_item" ng-show="showMap" ng-click="showMap = false">Скрыть карту</a>
        </ul>
        <yandex-map ng-if="showMap" ng-class="{'pep-map__active': showMap}" center="center" zoom="zoom" class="pep-map">
          <ymap-marker coordinates="[tweet.location[0], tweet.location[1]]"></ymap-marker>
        </yandex-map>
      </div>

    </li>
  </ul>
<div ng-bind-html="text | emoticons:{linkTarget:'_blank'}"></div>
  <div class="load-more-btn" ng-click="loadMorePeps()" ng-class="{'load-more-btn__progress': pepsLoading}"></div>

</section>






















