<header class="header">
	<div class="header-restrictor">
		<div class="header_logo">
			<a href="/" class="header_logo-img">PEPO</a>
		</div> 
		<div class="header_user">
			<div class="header_user-profil">
				<p class="header_user_avatar-name">BobDodo</p>
			</div>
		</div>
		<div class="header_logout">
			<div class="header_logout-contein">
					<input type="button" class="header_user_logout-btn" title="Button" value=""/>
			</div>
		</div>
	</div>	
</header>
<section class="page-container">
	<div class="user_autorization">
		<p class="user_autorization_text">Choose you login:</p>
		<form class="autoorization-form">
			<ul class="autoorization-list">
				<li class="autoorization-list_item"><button class="pepo_btn pepo_btn__facebook" ng-click="authenticate('facebook')"></button></li>
				<li class="autoorization-list_item"><button class="pepo_btn pepo_btn__vk" ng-click="authenticate('vkontakte')"></button></li>
			</ul>
		</form>	
	</div>
</section>
<div class="slide-efect_bg">
	<div class="slide-menu">
		<ul class="slide-menu_list">
			<li class="slide-menu_item"><a href="">Лента</a></li>
			<li class="slide-menu_item"><a href="">Поиск</a></li>
			<li class="slide-menu_item_border"></li>
			<li class="slide-menu_item"><a href="">Мой профиль</a></li>
			<li class="slide-menu_item"><a href="">Редактировать</a></li>
			<li class="slide-menu_item_border"></li>
			<li class="slide-menu_item"><a href="">Выйти</a></li>
		</ul>
		<button class="cancel-menu_btn" ng-click="back">
	</div>
</div>

