<pepo-header></pepo-header>
<section class="page-container">
	<div class="user_autorization">
		<h1 class="pepo-title">Вас еще нет в Pepo?<br>
		Зарегестрируйтесь что бы быть в курсе происходящего и в числе первых узнавать главные новости по интересующим вас темам.
		</h1>
		<form class="autoorization-form">
			<ul class="autoorization-list">
				<li class="autoorization-list_item"><div class="pepo_btn pepo_btn__facebook" ng-click="authenticate('facebook')"></div></li>
				<li class="autoorization-list_item"><div class="pepo_btn pepo_btn__vk" ng-click="authenticate('vkontakte')"></div></li>
			</ul>
		</form>
	</div>
</section>


