<modal-answer></modal-answer>
<modal-del></modal-del>
<pepo-header></pepo-header>
<section class="page-container">
    <div class="user-profile">
        <img ng-src="{{currentPageUser.avatarUrl}}" alt="" class="user-profile_img">
        <div class="user-profile_content">
            <div class="user-profile_name">{{currentPageUser.name}}</div>
            <div class="user-profile_nickname">@{{currentPageUser.username}}</div>

            <div ng-hide="followed || (currentPageUser.username == currentUser.username)"  class="pepo_btn user-profile_subscribe btn-top" ng-click="subscribe()">+ Читать</div>
            <div ng-show="followed" class="pepo_btn user-profile_unsubscribe btn-top" ng-click="unsubscribe()">Читаю</div>
            <p class="user-profile_description" ng-class="{'mgtop': (followed || (currentPageUser.username == currentUser.username)) }">{{currentPageUser.description}}</p>
            <div ng-hide="followed || (currentPageUser.username == currentUser.username)" class="pepo_btn user-profile_subscribe btn-bottom" ng-click="subscribe()">+ Читать</div>
            <div ng-show="followed" class="pepo_btn user-profile_unsubscribe btn-bottom" ng-click="unsubscribe()">Читаю</div>
        </div>

    </div>
    <div class="user-profile-info">
        <ul>
            <li class="user-profile-info_item user-profile-info_item__active" ng-click="itemInfo(0)">
                <div class="user-profile-info_number">10</div>
                <div class="user-profile-info_label">пепов</div>
                <div class="user-info-item_line" ng-class="{'first-item': varInfoArr[0], 'second-item': varInfoArr[1], 'third-item': varInfoArr[2]}"></div>
            </li>
            <li class="user-profile-info_item" ng-click="itemInfo(1)" ng-class="{'user-info-item_disable': following.length==0}">
                <div class="user-profile-info_number">{{following.length}}</div>
                <div class="user-profile-info_label">читаемых</div>
            </li>
            <li class="user-profile-info_item" ng-click="itemInfo(2)" ng-class="{'user-info-item_disable': followers.length==0}">
                <div class="user-profile-info_number">{{followers.length}}</div>
                <div class="user-profile-info_label">читателей</div>
            </li>
        </ul>
    </div>

<!-- Блок пепов -->
  <ul class="tweets tweets__userpage" ng-class="{'hidden-block_profile': varInfoArr[0]==false, 'visible-block_profile': varInfoArr[0]}">
    <li class="tweets_item" ng-init="i=0" ng-repeat="tweet in tweets">
      <header class="tweet-header">
        <div class="tweet-header_user">
          <img ng-src="{{tweet.owner.thumbUrl}}" alt="" class="tweet-header_user-img">
          <div class="tweet-header_name-wrapper">
            <div class="tweet-header_user-name">{{tweet.owner.name}}</div>
            <div class="tweet-header_user-login">@{{tweet.owner.username}}</div>
          </div>
        </div>
        <div class="tweet-header_date" ng-click="goToPep(tweet._id)">{{tweet.createdAt}}</div>
      </header>



      <section class="tweet-content">
        <p class="tweet-content_text" ng-class="{'novisible-block__edit': varEdit1[$index], 'anim': editAnim[$index]}">{{tweet.text}}</p>
        <div class="hidden-block_edit tweet-content_text" ng-class="{'visible-block__edit': varEdit1[$index]}">
          <textarea ng-model="$parent.editPepText" class="pepo_textinput pep-text_edit"></textarea>
          <ul class="actions-btn-block">
            <li class="actions-btn-block_item">
            <div ng-click="varEdit1[$index]=''" class="pepo_btn actions-btn-cancel_item">Отменить</div>
            </li>
            <li class="actions-btn-block_item">
            <div ng-click="editPep()" class="pepo_btn actions-btn-save_item">Сохранить</div>
            </li>
          </ul>
        </div>
      </section>

      <footer class="tweet-footer">
        <ul class="tweet-actions">
          <li class="tweet-actions_item tweet-actions_item__likes" >
            <div class="tweet-actions_icon"></div>
            <div class="tweet-actions_coutn">3</div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__answers" ng-click="openModalAnswer($index)">
            <div class="tweet-actions_icon"> </div>
            <div class="tweet-actions_coutn"> 2</div>
           </li>

          <li ng-show="tweet.owner.username == currentUser.username" class="tweet-actions_item tweet-actions_item__edit" >
            <div class="tweet-actions_icon" ng-click="editPepStart($index, tweet._id, tweet.text)"></div>
          </li>

           <li ng-show="tweet.owner.username == currentUser.username" class="tweet-actions_item tweet-actions_item__remove" ng-click="openModalDel($index, tweet._id)">
            <div class="tweet-actions_icon"></div>
          </li>

        </ul>
      </footer>
    </li>
  </ul>

<!-- Блок читающих -->

  <ul class="users-list  following following__userpage" ng-class="{'hidden-block_profile': varInfoArr[1]==false, 'visible-block_profile': varInfoArr[1]}">
    <li ng-repeat="user in following" ng-init="isSubscribe(user._id)" class="users-list_item user">
      <img ng-click="goToUser(user.username)" ng-src="{{user.avatarUrl}}" alt="" class="user_img">
      <div class="user_content">
        <div ng-click="goToUser(user.username)" class="user_name">{{user.name}}</div>
        <div ng-click="goToUser(user.username)" class="user_nickname">@{{user.username}}</div>
        <div ng-hide="subscribed[user._id]" class="pepo_btn user_subscribe" ng-click="subscribe(user.username, user._id)">+ Читать</div>
        <div ng-show="subscribed[user._id]" class="pepo_btn user_unsubscribe" ng-click="unsubscribe(user.username, user._id)">Читаю</div>
        <p class="user_description">{{user.description}}</p>

        <ul class="user-info">
          <li class="user-info_item">
            <div class="user-info_number">{{user.statusesCount}}</div>
            <div class="user-info_label">пепов</div>
          </li>
          <li class="user-info_item">
            <div class="user-info_number">{{user.followingCount}}</div>
            <div class="user-info_label">читаемых</div>
          </li>
          <li class="user-info_item">
            <div class="user-info_number">{{user.followersCount}}</div>
            <div class="user-info_label">читателей</div>
          </li>
        </ul>
      </div>
    </li>
  </ul>

<!-- Блок читаемых -->  

  <ul class="users-list  followers followers__userpage" ng-class="{'hidden-block_profile': varInfoArr[2]==false, 'visible-block_profile': varInfoArr[2]}">
    <li ng-repeat="user in followers" ng-init="isSubscribe(user._id)" class="users-list_item user">
      <img ng-click="goToUser(user.username)" ng-src="{{user.avatarUrl}}" alt="" class="user_img">
      <div class="user_content">
        <div ng-click="goToUser(user.username)" class="user_name">{{user.name}}</div>
        <div ng-click="goToUser(user.username)" class="user_nickname">@{{user.username}}</div>
        <div ng-hide="subscribed[user._id]" class="pepo_btn user_subscribe" ng-click="subscribe(user.username, user._id)">+ Читать</div>
        <div ng-show="subscribed[user._id]" class="pepo_btn user_unsubscribe" ng-click="unsubscribe(user.username, user._id)">Читаю</div>
        <p class="user_description">{{user.description}}</p>

        <ul class="user-info">
          <li class="user-info_item">
            <div class="user-info_number">{{user.statusesCount}}</div>
            <div class="user-info_label">пепов</div>
          </li>
          <li class="user-info_item">
            <div class="user-info_number">{{user.followingCount}}</div>
            <div class="user-info_label">читаемых</div>
          </li>
          <li class="user-info_item">
            <div class="user-info_number">{{user.followersCount}}</div>
            <div class="user-info_label">читателей</div>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <div class="load-more-btn" ng-click="loadMorePeps()" ng-class="{'load-more-btn__progress': pepsLoading}"></div>

</section>
