<pepo-header></pepo-header>

<section class="page-container">
  <div class="single-tweet-wrapper">

    <div class="single-tweet-parent" ng-show="parent">
      <header class="single-tweet-header">
        <div class="single-tweet-header_user">
          <img ng-click="goToUser(parent.owner.username)" ng-src="{{parent.owner.thumbUrl}}" alt="" class="single-tweet-header_user-img">
          <div class="single-tweet-header_name-wrapper">
            <div ng-click="goToUser(parent.owner.username)" class="single-tweet-header_user-name">{{parent.owner.name}}</div>
            <div ng-click="goToUser(parent.owner.username)" class="single-tweet-header_user-login">@{{parent.owner.username}}</div>
          </div>
        </div>
        <div class="single-tweet-header_date">{{parent.createdAt}}</div>
      </header>

      <section class="single-tweet-content">
        <p ng-bind-html="parent.text | emoticons" class="single-tweet-content_text"></p>
      </section>
    </div>

    <div class="single-tweet">
      <div class="answer-info" ng-show="parent">в ответ пользователю <span class="answer-info_username" ng-click="goToUser(parent.owner.username)">@{{parent.owner.username}}</span></div>
      <header class="single-tweet-header">
        <div class="single-tweet-header_user">
          <img ng-click="goToUser(currentTweet.owner.username)"  ng-src="{{currentTweet.owner.thumbUrl}}" alt="" class="single-tweet-header_user-img">
          <div class="single-tweet-header_name-wrapper">
            <div ng-click="goToUser(currentTweet.owner.username)"  class="single-tweet-header_user-name">{{currentTweet.owner.name}}</div>
            <div ng-click="goToUser(currentTweet.owner.username)" class="single-tweet-header_user-login">@{{currentTweet.owner.username}}</div>
          </div>
        </div>
        <button class="pepo_btn user_subscribe">+ Читаю</button>
        <div class="single-tweet-header_date">{{currentTweet.createdAt}}</div>
      </header>

      <section class="single-tweet-content">
        <p ng-bind-html="currentTweet.text | emoticons" class="single-tweet-content_text"></p>
      </section>

      <footer class="single-tweet-footer">
        <ul class="single-tweet-actions">
          <li class="single-tweet-actions_item single-tweet-actions_item__likes">
            <div class="single-tweet-actions_icon"></div>
            <div class="single-tweet-actions_coutn">3</div>
          </li>

           <li class="single-tweet-actions_item single-tweet-actions_item__answers">
            <div class="single-tweet-actions_icon"></div>
            <div class="single-tweet-actions_coutn">2</div>
          </li>

          <li class="single-tweet-actions_item single-tweet-actions_item__edit">
            <div class="single-tweet-actions_icon"></div>
          </li>

           <li class="single-tweet-actions_item single-tweet-actions_item__remove">
            <div class="single-tweet-actions_icon"></div>
          </li>
        </ul>
      </footer>
    </div>

    <ul class="tweet-answers" ng-show="currentTweet.children.length">
      <li class="tweet-answers_item" ng-repeat="answer in currentTweet.children">
        <header class="tweet-header">
          <div class="tweet-header_user">
            <img ng-src="{{answer.owner.thumbUrl}}" alt="" class="tweet-header_user-img">
            <div class="tweet-header_name-wrapper">
              <div class="tweet-header_user-name">{{answer.owner.name}}</div>
              <div class="tweet-header_user-login">@{{answer.owner.username}}</div>
            </div>
          </div>
          <div class="tweet-header_date">{{answer.createdAt}}</div>
        </header>

      <section class="tweet-content">
        <p ng-bind-html="answer.text | emoticons" class="tweet-content_text"></p>
      </section>

      <footer class="tweet-footer">
        <ul class="tweet-actions">
          <li class="tweet-actions_item tweet-actions_item__likes">
            <div class="tweet-actions_icon"></div>
            <div class="tweet-actions_coutn">3</div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__answers">
            <div class="tweet-actions_icon"></div>
            <div class="tweet-actions_coutn">2</div>
          </li>

          <li class="tweet-actions_item tweet-actions_item__edit" ng-show="isOwner(currentTweet.owner.username, answer.owner.username)">
            <div class="tweet-actions_icon"></div>
          </li>

           <li class="tweet-actions_item tweet-actions_item__remove" ng-show="isOwner(currentTweet.owner.username, answer.owner.username)">
            <div class="tweet-actions_icon"></div>
          </li>
        </ul>
      </footer>

      </li>
    </ul>
  </div>
</section>
















