<header class="header">
    <div class="header_logo">
      <p class="header_logo-img">PEPO</p>
    </div>
    <div class="header_user">
      <div class="header_user-profil">
        <p class="header_user_avatar-name">BobDodo</p>
      </div>
    </div>
    <div class="header_logout">
      <div class="header_logout-contein">
          <input type="button" class="header_user_logout-btn" title="Button" value=""/>
      </div>
    </div>
</header>

<section class="page-container">
  <div class="users-search">
    <input type="text" class="users-search_input" placeholder="Search...">
  </div>
</section>
