<header class="header">
    <div class="header_logo">
      <p class="header_logo-img">PEPO</p>
    </div>
    <div class="header_user">
      <div class="header_user-profil">
        <p class="header_user_avatar-name">BobDodo</p>
      </div>
    </div>
    <div class="header_logout">
      <div class="header_logout-contein">
          <input type="button" class="header_user_logout-btn" title="Button" value=""/>
      </div>
    </div>
</header>

<section class="page-container">
  <div class="users-search">
    <input ng-model="searchValue.name" type="text" class="users-search_input" placeholder="Search...">
  </div>

  <div class="pepo-info">
    <div class="pepo-info_text">Найдено 5 пеповчан</div>
  </div>

  <ul class="users-list">
    <li ng-repeat="user in users | filter:searchValue"  class="users-list_item">
      {{user.name}}
      {{searchValue}}
    </li>
  </ul>

</section>
