<header class="header">
		<div class="header-restrictor">
			<div class="header_logo">
				<a href="#/" class="header_logo-img">PEPO</a>
			</div>
			<div class="header_user">
				<div class="header_user-profil">
					<p class="header_user_avatar-name" ng-show="currentUser">{{currentUser.username}}</p>
				</div>
			</div>
			<div class="header-actions">
				<ul class="header-actions-list">
					<li class="header-action_item" ng-show="currentUser"><div class="header-btn add-twitt_contain__mod" ng-click="openNewpep($index)"></div></li>
					<li class="header-action_item" ng-show="currentUser"><a href="#/users" class="header-btn search-user_contain__mod"></a></li>
					<li class="header-action_item" ng-show="currentUser"><div ng-click="toggleMenu()" class="header-btn header_user_logout-btn__mod" ></div></li>
				</ul>
			</div>
		</div>
		<div class="inf-block">
			<div class="inf-block_contain" ng-class="{'inf-block_contain__show': varInf }" ng-click="openInfNewPeps()">
				<p class="inf-block_text">New peps: {{newPeps}}</p>
			</div>
		</div>
</header>

<div class="slide-effect_bg" ng-class="{'slide-effect_bg__show': menuOpened }" ng-click="closeSlideMenu($event)">
	</div>
		<div class="slide-menu">
			<ul class="slide-menu_list">
				<li class="slide-menu_item"><a class="slide-menu_link" href="#/feed">Лента</a></li>
				<li class="slide-menu_item slide-menu_item__separator "><a class="slide-menu_link" href="#/users">Поиск</a></li>
				<li class="slide-menu_item"><a class="slide-menu_link" ng-click="goToMyProfile()">Мой профиль</a></li>
				<li class="slide-menu_item slide-menu_item__separator"><a class="slide-menu_link" href="/#/edit-profile">Редактировать</a></li>
				<li ng-click="logout()" class="slide-menu_item"><a class="slide-menu_link" href="">Выйти</a></li>
			</ul>
			<div class="cancel-menu_btn"  ng-click="closeSlideMenu($event)" ></div>
		</div>


	<div class="modal">
	  <div class="modal-fade-screen" ng-class="{'new-pep__active': varNewpep}" ng-click="closeNewpepAnswer($event)">
	  <div class="modal-wrapper">
	    <div class="modal-inner">
	      <div class="modal-close" ng-click="closeModalSend()"></div>
	      <header class="pepo-modal-top pepo-modal-top__mod ">Новый Pep </header>
	      <section class="tweet-type_answer">
	        <div class="tweet-textarea_answer">
	          <textarea ng-model="newPepText" tabindex="1" autofocus id="tt">
	          </textarea>
	        </div>
	        <div class="tweet-buttons-block_answer">
              <div class="send-emoji">
                <div ng-click="toggleEmoji()" ng-init="emojiBtn = ':smile:'" ng-bind-html="emojiBtn | emoticons" class="emoji-btn"></div>
                <div ng-show="emojiOpen" class="emoji-pack">
                  <ul class="emoji-pack-list">
                    <li ng-repeat="icon in emojiPack" ng-click="addEmoji(icon)" class="emoji-pack-list_item">
                     <span ng-bind-html="icon | emoticons"></span>
                   </li>
                 </ul>
               </div>
             </div>
	        <div class="file-upload">
                <label>
                	<img src="build/img/camera.png" class="upload-icon">
                    <input type="file" name="file">
                </label>
            </div>
	          <div class="tweet-btn_send pepo_btn pepo_btn__answer" ng-click="publishNewpep()">Добавить pep</div>
	        </div>
	      </section>
	    </div>
	    </div>
	  </div>
	</div>
