<div class="modal">
  <div class="modal-fade-screen" ng-class="{'modal-answer__active': varAnswer}" ng-click="closeModalAnswer($event, false)">
  <div class="modal-wrapper">
    <div class="modal-inner">
      <div class="modal-close" ng-click="closeModalAnswer($event, true)"></div>
      <header ng-click="goToUser(pep.owner.username)" class="pepo-modal-top">Ответить <span class="pep-answer-username">@{{pep.owner.username}}</span></header>
      <section class="tweet_answer">
              <header class="tweet-header">
        <div class="tweet-header_user">
          <img ng-click="goToUser(pep.owner.username)" ng-src="{{pep.owner.thumbUrl}}" alt="" class="tweet-header_user-img">
          <div class="tweet-header_name-wrapper">
            <div ng-click="goToUser(tweet.owner.username)" class="tweet-header_user-name">{{pep.owner.name}}</div>
            <div ng-click="goToUser(tweet.owner.username)" class="tweet-header_user-login">@{{pep.owner.username}}</div>
          </div>
        </div>
        <div class="tweet-header_date" ng-click="goToPep(pep._id)">434534523345{{pep.createdAt}}</div>
      </header>


      <section class="tweet-content">
        <p ng-bind-html="pep.text | emoticons" class="tweet-content_text"></p>
        </section>
      </section>

      <section class="tweet-type_answer">
        <div class="tweet-textarea_answer">
          <textarea class="new-pep-input" ng-bind-html="newPepText" ng-model="newPepText" tabindex="1" autofocus id="tt">
          </textarea>
        </div>
        <div class="tweet-buttons-block_answer">
          <input type="file">
          <div class="emoji-wrapper">
            <div ng-click="toggleEmoji()" ng-init="emojiBtn = ':smile:'" ng-bind-html="emojiBtn | emoticons" class="emoji-btn"></div>
            <div ng-show="emojiOpen" class="emoji-pack">
              <ul class="emoji-pack-list">
                <li ng-repeat="icon in emojiPack" ng-click="addEmoji(icon)" class="emoji-pack-list_item">
                  <span ng-bind-html="icon | emoticons"></span>
                </li>
              </ul>
            </div>
          </div>

          <div class="pepo_btn pepo_btn__answer" ng-click="sendPep()">Ответить</div>
        </div>
      </section>
    </div>
    </div>
  </div>
</div>
