.header {
	@include outer-container();
	background: #29abe2;
	height: 80px;
}	

.header_logo {
	@include span-columns(3);
	align: right;
	color: white;
	font-size: 40px;
	line-height: 70px;

}
.header_logo-img {
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
}

.header_user {
	@include span-columns(6);
	position: relative;
	max-height: 100px;
	text-align: center;
	vertical-align: middle;

}  

.header_logout{
	@include span-columns(3);
	height: 80px;
	position: relative;
 }
.header_logout-contein {
	margin-top: 20px;
	margin-left: 30px;
	height: 40px;
	width: 40px;
	border: none;
}
.header_user_logout-btn {
	display: block;
	background-image: url('../img/logout.svg');
	height: 40px;
	width: 40px;
	border: none;
}

.header_user_avatar-name {
	font:bold 15px Tahoma;
	color: white;
	margin: 0;
	padding: 0;
	text-align:center;
}

.header_user_avatar-img {
	margin-top: 7px;
	max-height: 50px;
	max-width: 50px;
	border-radius: 50%;
}

.header_user-profil {
	overflow: hidden;
	text-align:center;
	margin:auto;
	max-height: 80px;
	max-width: 80px;
}
//-----------------------
.user_autorization {
	padding-top: 50px;
	text-align: center;
}
.user_autorization_text {
	text-align: center;
	color: gray;
	font:bold 20px Geneva;
	margin-bottom: 20px;
}
.user_autorization .user_autorization-nick {
   text-align:center;
   border: 2px solid #cccccc; 
   border-radius: 10px; 
   outline: none; 
   height: 40px;
   width: 250px; 
   color: gray; 
   font: bold 15px Tahoma; 
   margin-bottom: 10px;
}
.pepo_btn__ok {
    background: #8cc53f url('../img/ok.svg') no-repeat center;
}
