@-webkit-keyframes bg {
from {background: #fff09d;}
to { background: #fff;}
}
@-moz-keyframes bg {
from {background: #fff09d;}
to { background: #fff;}
}
@-ms-keyframes bg {
from {background: #fff09d;}
to { background: #fff;}
}
@-o-keyframes bg {
from {background: #fff09d;}
to { background: #fff;}
}
@keyframes bg {
from {background: #fff09d;}
to { background: #fff;}
}
.anim{
	@include animation (bg  2s ease-in-out);
}
.visible-block__edit{
	display: block !important; 
}
.novisible-block__edit{
	display: none;
}
.hidden-block_edit{
    margin: 10px 0;
	display:none;
}
.pep-text_edit{
	line-height: 27px;
	height: 78px;
}
.actions-btn-block{
	.actions-btn-block_item{
		display: inline-block;
		width: 48%;
		max-width: 100px;
    	margin: 5px 5px 5px 0;
		.pepo_btn{
			color: $colorWhite;
			padding: 10px;
			text-align: center;
			&:active{
				transform: scale(0.95);
			}
		}

		.actions-btn-save_item, 
		.actions-btn-del_item{
			background: $colorBlue;
			&:hover{
				background: $colorBlue__hover;
			}
		}
		.actions-btn-cancel_item{
			background: $colorLightGray;
			&:hover{
				background: $colorLightGray__hover;
			}
		}
	}
}

