/* Color map */
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #29abe2;
$colorBlue__hover: #2497c7;
$colorRed: #fe4f4f;
$colorRed__hover: #f04a4a;
$colorGrey: #c7c7c7;
$colorBorder: #e0e0e0;
$colorTextGrey: #212221;
$colorTextLightGrey: #a7a59f;
$colorBtnSubscribe: #80a8cc;
$colorBtnSubscribe__hover: #759abb;
$colorLightGray: #b8b8b8;
$colorLightGray__hover: #898989;

/* Width map */
$mobileWidth: 540px;
$iphonesWidth: 414px;

body {
  @include outer-container();
  overflow-x: hidden;
  background: #f2eee8;
  font-family: sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $colorWhite;
}
.page-container {
  padding: 40px 20px 80px;
  max-width: 600px;
  margin: auto;
  &.page-container__no-scroll{
    overflow: hidden;
    height: 100vh;
  }
}

.pepo-title {
  color: $colorTextLightGrey;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 30px auto 20px;
  &::first-letter {
    color: $colorBlue;
  }
}

.pepo_textinput {
  border: 1px solid $colorBorder;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 34px;
  padding: 0 10px;
  width: 100%;
  transition: border 300ms;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
    border: 1px solid $colorBlue;
  }
}
.header-btn {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  line-height: 40px;
  &:focus {
      display: none;
  }
    &:hover {
    opacity: 1;
  }
}

.pepo_btn {
  cursor: pointer;
	height: 40px;
  width: 100%;
  border-radius: 3px;
	border: none;
	-webkit-appearance:none;
  &:focus {
    display: none;
  }
}
@media only screen and (max-width: $mobileWidth) {
  .page-container {
    padding: 40px 10px 80px;
  }
}

@media only screen and (max-width: $iphonesWidth) {
  body {
    background: $colorWhite;
  }
  .page-container {
    padding: 40px 0 80px;
  }
}
