$sizeIconUpload: 24px;
.user-edit {
  background: $colorWhite;
  padding: 30px 15px;
  margin: 0 auto;
  max-width: 600px;
}

.user-edit_item {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 22px;
  padding-bottom: 22px;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.user-edit_item__nosepation {
  border-bottom: none;
  margin-bottom: 22px;
  padding-bottom: 0;
}
.user-edit_img-wrapper{
  position: relative;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  .user-edit_img {
    display: block;
    cursor: pointer;
    width: 200px;
  }
  .user-edit-img_hover{
    position: absolute;
    background: transparent;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 0;
    transition: opacity 0.35s;
    pointer-events: none;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-color: #000000;
    }
    .user-edit-img_text__mobile{
      display: none;
      position: absolute;
      top: 25%;
      left: 50%;
      transform:translateX(-50%);
      color: white;
      width: 120px;
    }
    .user-edit-img_text{
      position: absolute;
      top: 25%;
      left: 50%;
      transform:translateX(-50%);
      color: white;
      width: 120px;
    }
  }
  &:hover{
    .user-edit-img_hover{
      opacity: 1;
    }
  }

}


.user-edit_description {
  height: 180px;
}

.user-edit_save {
  background: $colorBlue;
  color: $colorWhite;
  font-size: 22px;
  transition: background 200ms;
  text-align: center;
  line-height: 40px;
  &:hover {
    background: $colorBlue__hover;
  }
}

.user-edit_cancel {
  background: $colorRed;
  color: $colorWhite;
  font-size: 22px;
  transition: background 200ms;
  text-align: center;
  line-height: 40px;
  &:hover {
    background: $colorRed__hover;
  }
}

.modal-edit-user-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  transform: translateX(-100%);
  &.modal-edit-user-photo__active {
    transform: translateX(0);
    transition: opacity ease-out 500ms;
    .modal-edit-user-photo_cover{
      opacity: 0.3;
    }
    .modal-edit-user-photo_form{
      opacity: 1;
    }
  }
  .modal-edit-user-photo_form {
    position: absolute;
    top: 130px;
    left: 50%;
    width: 80%;
    max-width: 500px;
    background: $colorWhite;
    border-radius: 3px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity ease-out 500ms;
    label {
      display: block;
      cursor: pointer;
      margin: 20px 35px 20px 10px;
      .icon-upload {
        display: inline-block;
        width: $sizeIconUpload;
        height: $sizeIconUpload;
        vertical-align: middle;
        background-image: url("../img/icon_upload.svg");
        background-size: contain;
      }
      .text-upload {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }
      input {
        display: none;
      }
    }
  }
  .modal-edit-user-photo_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity ease-out 300ms;
  }

  .modal-edit-user-photo_close {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    &:before {
      transform: rotate(-45deg);
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 0;
      left: 50%;
      height: 1.5em;
      width: 0.15em;
      background: #ddd;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
    }
    &:after {
      position: absolute;
      top: 4px;
      right: 3px;
      bottom: 0;
      left: 50%;
      height: 1.5em;
      width: 0.15em;
      background: #ddd;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }
  }
}

.user-edit_save__disabled {
  cursor: default;
  background: $colorGrey;
  opacity: .5;
  &:hover {
    background: $colorGrey;
  }
}

.new-avatar-tip {
  color: $colorGrey;
  font-size: 13px;
  text-align: center;
  margin-top: 16px;
}

.title-padd{
  padding: 0 15px;
}
@media only screen and (max-width: $mobileWidth) {
  .user-edit_img-wrapper{
    .user-edit-img_hover{
      opacity: 1;
      .user-edit-img_text__mobile{
        display: block;
      }
      .user-edit-img_text{
        display: none;
      }

    }
  }


}











































