body {
  background: #f7f7f7;
  @include outer-container();
}
.test{
	paddin:10px;
}
.test2{
	color: #fff;
}
.pepo_btn {
	height: 40px; 
    width: 250px;
    border-radius: 10px; 
	border: none;
	-webkit-appearance:none;
}