.slide-effect_bg {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  overflow: hidden;
  transition: background-color 100ms ease-out;
  width: 100%;
  z-index: 9;
}
.slide-menu {
    background-color: $colorBtnSubscribe;
    box-sizing: border-box;
    height:100%;
    right: 0;
    position: fixed;
    padding: 50px 10px 0px 10px;
    transform: translateX(100%);
    transition: transform 150ms ease-out;
    text-align: left;
    width: 260px;
    will-change: transform;
    z-index: 10;
}
.slide-effect_bg__show {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 200ms linear;
  top: 0;
}
.slide-effect_bg__show + .slide-menu {
  transform: none;
  transition: transform 300ms ease-out;
}

.slide-effect_bg__show ~ .page-container {
  opacity: .2;
}

.slide-menu_link {
	color: white;
	text-decoration: none;
}
.slide-menu_item {
	margin-bottom: 15px;
	cursor: pointer;
	&:hover {
		.slide-menu_link {
			color: gray;
		}
	}
}
.slide-menu_item__separator {
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 15px;
}
.cancel-menu_btn {
	display: block;
	opacity: 0.8;
	position: absolute;
	background: $colorBtnSubscribe url('../img/cancel.svg') no-repeat center;
	background-size: contain ;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border:none;
 	&:focus {
    	display: none;
  	}
  	&:hover {
  		opacity: 1;
  	}
}
@media only screen and (max-width: $mobileWidth) {
	.slide-menu {
		width: 50%;
	}
}
