.pepo_btn__facebook {
	background: #0071bd url('../img/login_f.svg') no-repeat center;
	background-size: 60px 60px;
	margin-bottom: 10px;
}
.pepo_btn__vk {
	background: #2aaae3 url('../img/login_vk.svg') no-repeat center;
	background-size: 80px 80px;
}

