.user-profile {
  background: $colorWhite;
  margin-bottom: 20px;
  padding: 30px 15px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  .user-profile_img {
    width: 175px;
    display: inline-block;
    vertical-align: top;
  }

  .user-profile_content {
    display: inline-block;
    margin-left: 20px;
    width: calc(100% - 200px);
    vertical-align: top;
  }
  .user-profile_name {
    color: #3d3d48;
    font-size: 20px;
    font-weight: bold;
    max-width: calc(100% - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .user-profile_nickname {
    color: $colorTextLightGrey;
    font-size: 13px;
    position: relative;
    top: -3px;
  }
  .user-profile_subscribe {
    position: absolute;
    bottom: 30px;
    width: 95px;
    color: $colorWhite;
    background: $colorBtnSubscribe;
    font-size: 14px;
    transition: background 200ms;
    border-radius: 0;
    &:hover {
      background: $colorBtnSubscribe__hover;
    }
  }

  .user-profile_description {
    color: #5d5b55;
    font-size: 14px;
    margin-bottom: 26px;
    max-width: 100%;
  }
}

.user-profile-info ul {
  width: 100%;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 15px;
  background: $colorWhite;
  .user-profile-info_item {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    vertical-align: top;
    &.user-profile-info_item__active {
      border-bottom: 2px solid $colorBtnSubscribe;
    }
    &:last-child {
      margin-right: 0;
    }
    .user-profile-info_number {
      font-size: 24px;
      color: #3d3d48;
    }

    .user-profile-info_label {
      color: $colorTextLightGrey;
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: $mobileWidth) {
  .user-profile {
    .user-profile_subscribe {
      position: initial;
      width: calc(100% - 125px);
      margin: 37px 0 0 125px;
    }
    .user-profile_nickname {
      width: calc(100% - 125px);
      margin-left: 125px;
    }
    .user-profile_description {
      margin-bottom: 0;
    }
    .user-profile_name {
      width: calc(100% - 125px);
      margin-left: 125px;
    }
    .user-profile_img {
      position: absolute;
      width: 115px;
    }
    .user-profile_content {
      display: block;
      width: 100%;
      margin-left: 0;
    }

    .user-profile-info {
      text-align: center;
    }
  }
}

@media only screen and (max-width: $iphonesWidth) {
  .user-profile-info,
  .user-profile {
    border-bottom: 1px solid #e0e0e0;
  }
  .user-profile{
    margin-bottom: 0;
  }
}





























