.header-stub {
  @include outer-container();
  background: #343434;
  height: 90px;
}

.tweets, .followers, .following {
  margin-bottom: 40px;
}
.tweets_item {
  background: $colorWhite;
  border: 1px solid $colorBorder;
  padding: 12px;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

.tweet-header {
  position: relative;
}
.tweet-header_user{
  padding-top: 8px;
}
.tweet-header_user-img,
.tweet-header_name-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.tweet-header_user-img {
  cursor: pointer;
  border-radius: 50%;
  margin-right: 6px;
  width: 100%;
  max-width: 50px;
}
.tweet-header_user-name {
  color: $colorBlack;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    color: $colorBlue;
  }
}
.tweet-header_user-login {
  cursor: pointer;
  font-size: 14px;
  color: $colorGrey;
  &:hover {
    color: $colorBlue;
  }
}
.tweet-header_date {
  color: $colorGrey;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    text-decoration: underline;
  }
}
.tweet-content_text {
  font-size: 15px;
  line-height: 20px;
  padding-left: 60px;
  overflow: hidden;
}
.tweet-footer {
  padding-left: 60px;
}
.tweet-actions{
  ul{
    z-index:1;
  }
}
.tweet-actions_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}
.tweet-actions_icon {
  cursor: pointer;
  height: 18px;
  width: 18px;
  opacity: .8;
  transition: opacity 400ms;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 200ms;
  }
  &:active{
    transform: scale(0.9);
  }
}
.tweet-content{
    .link-preview_block{
    margin: 10px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 10px;
    .link-preview_img{
      float: left;
      width: 30%;
      padding-right: 10px;
    }
    .clearfix{
      clear:both;
    }
    }
    .tweet-content_text{
      overflow:visible;
      a {
        color: #008ace;
        text-decoration: underline;
      }
  }
  .actions-btn-block{
    position:relative;
    .emoji-wrapper{
      top:0;
      right:0;
    }
  }
}
.tweet-actions_item__likes .tweet-actions_icon {
  background: url(../img/icon-like.svg)no-repeat center;
}
.tweet-actions_item__answers .tweet-actions_icon {
  background: url(../img/icon-answer.svg)no-repeat center;
  height: 18px;
  width: 22px;
}
.tweet-actions_item__edit .tweet-actions_icon {
  background: url(../img/icon-edit.svg)no-repeat center;
}
.tweet-actions_item__remove .tweet-actions_icon {
  background: url(../img/icon-remove.svg)no-repeat center;
}
.tweet-actions_coutn {
  color: $colorBlue;
  font-size: 10px;
  margin-top: 3px;
}

.tweet-form {
  background: $colorWhite;
  border-top: 1px solid $colorBorder;
  position: fixed;
  left: 0;
  line-height: 80px;
  bottom: 0;
  padding: 0 20px;
  width: 100%;
}
.tweet-form_inputs {
  @include outer-container();
}
.tweet-form_input {
  border: 1px solid $colorBorder;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 34px;
  padding: 0 10px;
  margin-right: -6px;
  width: calc(100% - 100px);
  transition: border 300ms;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
    border: 1px solid $colorBlue;
  }
}
.tweet-form_btn {
  cursor: pointer;
  background: $colorBlue;
  border: 1px solid $colorBorder;
  border-radius: 0 4px 4px 0;
  color: $colorWhite;
  transition: background 200ms;
  font-size: 18px;
  line-height: 29px;
  width: 100px;
  -webkit-appearance: none;
  &:hover {
    background: $colorBlue__hover;
  }
}


.load-more-btn {
  background: url('../img/icon-add.svg')no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  &:hover {
    background-image: url('../img/icon-add__active.svg');
  }
}

.load-more-btn__progress {
  animation:rotation 1s linear infinite;
  background: transparent;
  border: 1px solid $colorBlue;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  &:hover {
    background: transparent;
  }
}

@keyframes rotation { 100% {transform: rotate(360deg);} }

@media only screen and (max-width: $iphonesWidth) {
  .tweets_item {
    border: none;
    border-bottom: 1px solid $colorBorder;
    padding-bottom: 24px;
    &:last-child {
      border-bottom: none;
    }
  }
}














