/* Color map */
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #29abe2;
$colorBlue__hover: #2497c7;
$colorGrey: #c7c7c7;
$colorBorder: #999999;
$colorTextGrey: #212221;
$colorTextLightGrey: #a7a59f;
$colorBtnSubscribe: #80a8cc;
$colorBtnSubscribe__hover: #759abb;

/* Width map */
$mobileWidth: 540px;

body {
  @include outer-container();
  background: #f2eee8;
  font-family: sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-container {
  padding: 40px 20px 80px;
  max-width: 600px;
  margin: auto;

}

.pepo-title {
  color: $colorTextLightGrey;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 30px auto 20px;
  &::first-letter {
    color: $colorBlue;
  }
}

.pepo_textinput {
  border: 1px solid $colorBorder;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 34px;
  padding: 0 10px;
  width: 100%;
  transition: border 300ms;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
    border: 1px solid $colorBlue;
  }
}

.pepo_btn {
  cursor: pointer;
	height: 40px;
  width: 100%;
  border-radius: 3px;
	border: none;
	-webkit-appearance:none;
  &:focus {
    display: none;
  }
}
@media only screen and (max-width: $mobileWidth) {
  .page-container {
    padding: 0 10px 80px;
  }
}
