.inf-block {
	margin-top: 40px;
	padding-top: 5px;
	width: 100%;
	@include transform(scale(0));
	@include transition(transform 200ms ease-out);
}
.inf-block_contain {
  cursor: pointer;
	background-color: $colorBlue;
	border-radius: 10px;
	display: block;
	font-size: 15px ;
	font-weight: bold;
	margin: auto;
	text-align: center;
	line-height: 50px;
	color: $colorWhite;
	height: 50px;
	width: 100px;

}
.inf-block_text {
	margin: 0 auto;
}
.inf-block_contain__show {
	@include transform(none);

}
