.inf-block {
	margin-top: 40px;
	padding-top: 5px;
	width: 100%;

}
.inf-block_contain {
	background-color: $colorBlue;
	border-radius: 10px;
	display: block;
	font-size: 15px ;
	font-weight: bold;
	margin: auto;
	text-align: center;
	line-height: 50px;
	transform: scale(0);
	transition: transform 200ms ease-out;
	color: $colorWhite;
	height: 50px;
	width: 100px;

}
.inf-block_text {
	margin: 0 auto;
}
.inf-block_contain__show {
	transform: none;

}
